body{
    background-image: url('public/img-home/84770f_2f0fbc24c82448d7b19dbfdf38d8b049~mv2_d_4752_3168_s_4_2.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    margin-top: 10%;
    text-align: center;
    transform: rotate(-15deg);
}

.logo{
    color: aliceblue;
    font-size: 170px;
    font-style: italic;
}