.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vh;
    margin-right: 2vh;
    row-gap: 1vh;
}

.menuCard {
    width: 20vw;
    margin-bottom: 1rem;
}

.menuTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.menuDescription {
    margin-bottom: 0.5rem;
    max-height: 1rem;
    overflow: hidden;
    line-height: 1.2em;
}

.menuPrice {
    font-weight: bold;
}
body{
background-color:#fffff2;
}
