@font-face {
    font-family: "MiFuentePersonalizada";
    src: url("../../common/font/GrandifloraOne-Regular.ttf") format("ttf");
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vh;
    margin-right: 2vh;
}

.menuCard {
    width: 20vw;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.menuTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.menuDescription {
    margin-bottom: 0.5rem;
}

.menuPrice {
    font-weight: bold;
}

body{
background-color:#fffff2;
}
