.menuCard {
    width: 20vw;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.menuTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.menuDescription {
    margin-bottom: 0.5rem;
}

.menuPrice {
    font-weight: bold;
}

body{
background-color:#fffff2;
}
